@model FaqVM
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="faq-bg" style="background-image: url('/Uploads/images/@Model.HeaderSetting.Photo')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    @{Html.RenderPartial("~/Views/Shared/_Breadcrumb.cshtml",model:Model.breadcrumb);}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- FAQ START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="mb-4">
                    <input class="form-control search-form mt-4" type="search" placeholder="Search...">
                    <button class="search-button" type="submit"><a href="#" class="text-dark"><span class="mdi mdi-magnify"></span></a></button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="faq-content">
                    <h3 class="text-dark">General Questions</h3>
                    <div class="faq-border mt-2 mb-4"></div>
                    <div class="accordion faq-item mt-3" id="accordionExample">
                        @foreach (var faq in Model.Faqs.Where(f=>f.CategoryFaq==CategoryFaq.General))
                        {
                            <div class="card mb-4">
                                <a data-toggle="collapse" href="#collapse-@faq.Id" class="faq" aria-expanded="true" aria-controls="collapse-@faq.Id">
                                    <div class="card-header" id="heading-@faq.Id">
                                        <h6 class="mb-0 faq-question">@faq.Question</h6>
                                    </div>
                                </a>
                                <div id="collapse-@faq.Id" class="collapse" aria-labelledby="heading-@faq.Id" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text-muted mb-0 f-14 faq-ans">@faq.Answer</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="faq-content mt-5">
                    <h3 class="text-dark">Career Faq</h3>
                    <div class="faq-border mt-2 mb-4"></div>
                    <div class="accordion faq-item mt-4" id="accordionExample2">

                        @foreach (var faq in Model.Faqs.Where(f => f.CategoryFaq == CategoryFaq.Career))
                        {
                            <div class="card mb-4">
                                <a data-toggle="collapse" href="#collapse-@faq.Id" class="faq" aria-expanded="true" aria-controls="collapse-@faq.Id">
                                    <div class="card-header" id="heading-@faq.Id">
                                        <h6 class="mb-0 faq-question">@faq.Question</h6>
                                    </div>
                                </a>
                                <div id="collapse-@faq.Id" class="collapse" aria-labelledby="heading-@faq.Id" data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <p class="text-muted mb-0 f-14 faq-ans">@faq.Answer</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ END -->

@section scripts{

    <script src="~/Public/js/jquery.nice-select.min.js"></script>
}