
@{
    ViewBag.Title = "Account";
}

<!-- Account page start -->
<div class="container">
    <div class="accountWrapper">
        <div class="page-tab w-100">
            <div class="tabs row">
                <div class="col-lg col-xl-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="acccount-tab" data-toggle="pill" href="#acccount-app" role="tab" aria-controls="acccount-app" aria-selected="true"><i class="fas fa-user"></i> <span>My account</span></a>
                        <a class="nav-link" id="listing-tab" data-toggle="pill" href="#listing-app" role="tab" aria-controls="listing-app" aria-selected="false"><i class="fas fa-th-list"></i> <span>Listing</span></a>
                        <a class="nav-link" id="promotions-tab" data-toggle="pill" href="#promotions-app" role="tab" aria-controls="promotions-app" aria-selected="false"><i class="fas fa-star"></i> <span>Promotions</span></a>
                        <a class="nav-link" id="favorite-tab" data-toggle="pill" href="#favorite-app" role="tab" aria-controls="favorite-app" aria-selected="false"><i class="fas fa-heart"></i> <span>Favorite listings</span></a>
                        <a class="nav-link" id="pricing-tab" data-toggle="pill" href="#pricing-app" role="tab" aria-controls="pricing-app" aria-selected="false"><i class="fas fa-dollar-sign"></i> <span>Pricing Plan</span></a>
                        <a class="nav-link" id="detail-tab" data-toggle="pill" href="#detail-app" role="tab" aria-controls="detail-app" aria-selected="false"><i class="fas fa-id-card"></i> <span>Account details</span></a>
                    </div>
                </div>

                <div class="col-lg-11 col-xl-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane show active" id="acccount-app" role="tabpanel" aria-labelledby="acccount-tab">
                            <div class="accountInner">
                                <p class="customerName">
                                    Hello,
                                    <span>Jeyhun Mammadzada</span>
                                </p>

                                <p class="pendingListingCount">
                                    You have 5 pending listings
                                    <a href="#">View all <img src="~/Public/img/global/rightArrow.svg" alt="Arrow"></a>
                                </p>

                                <div class="accountCards">
                                    <div class="cardItem">
                                        <p class="cardTitle">My listing</p>
                                        <div class="cardBottomLine">
                                            <h1>30</h1>
                                            <a href="#">View all <img src="~/Public/img/global/rightArrowWhite.svg" alt="Arrow"></a>
                                        </div>
                                    </div>

                                    <div class="cardItem">
                                        <p class="cardTitle">Promotions</p>
                                        <div class="cardBottomLine">
                                            <h1>12</h1>
                                            <a href="#">View all <img src="~/Public/img/global/rightArrowWhite.svg" alt="Arrow"></a>
                                        </div>
                                    </div>

                                    <div class="cardItem">
                                        <p class="cardTitle">Total Visits</p>
                                        <div class="cardBottomLine">
                                            <h1>45000</h1>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="listing-app" role="tabpanel" aria-labelledby="listing-tab">
                            <div class="rentList">
                                <div class="lists">
                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Developer</p>
                                        </div>
                                    </div>

                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Designer</p>
                                        </div>
                                    </div>

                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Account Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="tab-pane" id="promotions-app" role="tabpanel" aria-labelledby="promotions-tab">
                            <div class="proList">
                                <h6>Promoted listings</h6>
                                <div class="lists">
                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Developer</p>
                                        </div>
                                    </div>

                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Designer</p>
                                        </div>
                                    </div>

                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Account Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="favorite-app" role="tabpanel" aria-labelledby="favorite-tab">
                            <div class="favList">
                                <h6>Favorite listing</h6>
                                <div class="lists">
                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Developer</p>
                                        </div>
                                    </div>

                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Designer</p>
                                        </div>
                                    </div>

                                    <div class="listItem">
                                        <div class="itemBody">
                                            <p class="carName">Account Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="pricing-app" role="tabpanel" aria-labelledby="pricing-tab">
                            <h6>Your pricing plan</h6>
                            <div class="pricingInner">
                                <div class="couponPack">
                                    <div class="left">
                                        <h5 class="packName">Silver</h5>

                                        <h1 class="packPrice"><sup>$</sup>10<span>/mo</span></h1>
                                    </div>
                                    <div class="right">
                                        <p><span>20</span> listing submissions left</p>
                                        <p><span>105</span> days left</p>

                                        <p class="expireDate">Expire date: 12.12.2019</p>
                                    </div>
                                </div>

                                <div class="invoiceTable">
                                    <h6 class="invoiceTitle">Invoices</h6>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Tax invoice number</th>
                                                    <th scope="col">Total Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Jan 14, 2019</td>
                                                    <td>306411</td>
                                                    <td>USD $40.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Mar 14, 2019</td>
                                                    <td>306411</td>
                                                    <td>USD $40.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <a href="#">View all pricing plans <img src="~/Public/img/global/rightArrow.svg" alt="Arrow"></a>
                            </div>
                        </div>

                        <div class="tab-pane" id="detail-app" role="tabpanel" aria-labelledby="detail-tab">
                            <h6>Your Account details</h6>

                            <div class="detailInner">
                                <div class="inputGroup">
                                    <div class="md-form">
                                        <input type="text" id="name" class="form-control">
                                        <label for="name">First name</label>
                                    </div>

                                    <div class="md-form">
                                        <input type="text" id="surname" class="form-control">
                                        <label for="surname">Last name</label>
                                    </div>
                                </div>

                                <div class="inputGroup">
                                    <div class="md-form mb-0">
                                        <input type="text" id="username" class="form-control mb-0">
                                        <label for="username">Display name</label>
                                    </div>
                                    <span>This will be how your name will be displayed in the account section and in reviews</span>
                                </div>

                                <div class="inputGroup">
                                    <div class="md-form">
                                        <input type="text" id="email" class="form-control">
                                        <label for="email">Email adress</label>
                                    </div>
                                </div>

                                <p>Password changes</p>

                                <div class="inputGroup">
                                    <div class="md-form">
                                        <input type="password" id="currPass" class="form-control">
                                        <label for="currPass">Current password (leave blank to leave unchanged)</label>
                                    </div>
                                </div>

                                <div class="inputGroup">
                                    <div class="md-form">
                                        <input type="password" id="newPass" class="form-control">
                                        <label for="newPass">New password (leave blank to leave unchanged)</label>
                                    </div>
                                </div>

                                <div class="inputGroup">
                                    <div class="md-form">
                                        <input type="password" id="comPass" class="form-control">
                                        <label for="comPass">Confirm new password</label>
                                    </div>
                                </div>

                                <button class="btn btnSave">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Account page end -->
