
@{
    ViewBag.Title = "Blog-Detail";
}

}

<!-- newsInsede Page start -->
<div class="cover">
    <img src="~/Public/img/global/newsCover.png" alt="Cover">
</div>

<div class="newsBody">
    <div class="container">

        <a class="btnBack" href="news.html">
            <img src="~/Public/img/global/backArrow.svg" alt="back"> Back to news
        </a>

        <div class="bodyHeader">
            <h4>
                Infiniti will exit western Europe
                to focus on U.S., China
            </h4>

            <div class="share-date">
                <p class="newsDate">
                    <i class="far fa-calendar-alt"></i>
                    24.03.2019
                </p>
            </div>
        </div>

        <div class="bodyContent">
            <p>
                Infiniti will stop building the Q30 sedan and the QX30 crossover in the UK and exit the western European market as it diverts its resources to China…While some of its rivals have worked hard to catch up to BMW’s 5-series in performance and handling, BMW has switched gears and taken a more luxury-oriented approach with its mid-size sedan. What was once a driver’s delight is now more of a boulevard cruiser—one with a posh interior, plenty of people and cargo space, and a range of efficient and strong-performing engines. When the M550i performance model was introduced for 2018, we were hopeful that the Ultimate Driving Machine was returning to the BMW showroom, but it, too, suffers from a mixed bag of dynamic traits.
            </p>

            <div class="innerImage">
                <img src="~/Public/img/global/newsImage.png" alt="innerImage">
            </div>

            <p>
                Highs: Fabulous engine choices, spacious and plush interior, lots of available tech. <br>
                Lows: Uninspiring handling, familiar styling, lack of standard features. <br>
                Verdict: A well-rounded luxury sedan that doesn’t quite get our heart racing like a BMW should. <br>
                BMW’s mid-size sedan sees several updates for 2019. Blind-spot monitoring, lane-departure warning, forward-collision warning, pedestrian detection, front and rear parking sensors, and rear cross-traffic alert are all now standard; Apple CarPlay is also standard but requires an annual subscription after the first year of ownership. The optional head-up display, a wireless smartphone charging pad, a self-parking feature, and onboard Wi-Fi hotspot are now part of the Premium package; a new Convenience package includes niceties such as a power-operated trunk lid, passive entry, SiriusXM satellite radio, and heated front seats. The Executive package now includes soft-close doors, manual side-window shades, adaptive headlamps, automatic high-beams, and a digital gauge display.
            </p>
            <hr>

            <div class="newsComment">
                <p class="commentSectionTitle">Last comments</p>

                <div class="commentItem">
                    <img src="/Public/img/th-1.png" alt="thumbnail">

                    <div class="commentText">
                        <p>Infiniti will stop building the Q30 sedan and the QX30 crossover in the UK and exit the western European market as it diverts its resources to China…</p>
                    </div>
                </div>

                <div class="commentItem">
                    <img src="/Public/img/th-2.png" alt="thumbnail">

                    <div class="commentText">
                        <p>The Alfa Romeo recall concerns about 19,100 vehicles in the United States, most of which are in the possession of dealerships.VW Group increased the global production and product scope of its upcoming full-electric cars, while warning the EV push will lead to job cuts.</p>
                    </div>
                </div>

                <a class="btnSeeMore" href="#">See more</a>

                <div class="addComment">
                    <img src="/Public/img/th-3.png" alt="thumbnail">

                    <div class="commentInput">
                        <input type="text" name="" id="" placeholder="Add your comment">
                    </div>

                    <button class="btnAddComment">Submit comment</button>
                </div>

            </div>


        </div>
    </div>
</div>

