
@{
    ViewBag.Title = "Blog";
}
<!-- News page start -->
<div class="container">
    <div class="newsWrapper">
        <div class="headerBar">
            <p class="pageTitle">News</p>

            <select class="mdb-select md-form">
                <option selected value="1">Latest</option>
                <option value="2">Latest</option>
                <option value="3">Latest</option>
            </select>
        </div>

        <div class="newsList">
            <a href="@Url.Action("Detail","Blog")">
                <div class="newsItem">
                    <div class="itemCover">
                        <img src="~/Public/img/global/news-1.png" alt="Image">
                    </div>
                    <div class="itemBody">

                        <div class="itemDate">
                            11 <br> APR
                        </div>

                        <p class="itemName">
                            Infiniti will exit western Europe to focus on U.S., China
                        </p>

                        <p class="itemDesc">Infiniti will stop building the Q30 sedan and the QX30 crossover in the UK and exit the western European market as it diverts its resources to China…</p>
                    </div>
                </div>
            </a>

            <a href="newsInside.html">
                <div class="newsItem">
                    <div class="itemCover">
                        <img src="~/Public/img/global/news-2.png" alt="Image">
                    </div>
                    <div class="itemBody">

                        <div class="itemDate">
                            11 <br> APR
                        </div>

                        <p class="itemName">
                            Infiniti will exit western Europe to focus on U.S., China
                        </p>

                        <p class="itemDesc">Infiniti will stop building the Q30 sedan and the QX30 crossover in the UK and exit the western European market as it diverts its resources to China…</p>
                    </div>
                </div>
            </a>

            <a href="newsInside.html">
                <div class="newsItem">
                    <div class="itemCover">
                        <img src="~/Public/img/global/news-3.png" alt="Image">
                    </div>
                    <div class="itemBody">

                        <div class="itemDate">
                            11 <br> APR
                        </div>

                        <p class="itemName">
                            Infiniti will exit western Europe to focus on U.S., China
                        </p>

                        <p class="itemDesc">Infiniti will stop building the Q30 sedan and the QX30 crossover in the UK and exit the western European market as it diverts its resources to China…</p>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
<!-- News page end -->
