
@{
    ViewBag.Title = "Explore";
}

<!-- Explore page start -->
<div class="container">
    <div class="exploreWrapper">
        <div class="headerBar">
            <p class="resultText">We found <span>60</span> results that might be your next job.</p>

            <select class="mdb-select md-form">
                <option selected value="1">Latest</option>
                <option value="2">Latest</option>
                <option value="3">Latest</option>
            </select>
        </div>

        <div class="explore">
            <div class="exploreSearch">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="buy-tab">

                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Categories</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>

                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Job type</option>
                            <option value="1">type</option>
                            <option value="2">type</option>
                            <option value="3">type</option>
                        </select>

                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Job title</option>
                            <option value="1">title</option>
                            <option value="2">title</option>
                            <option value="3">title</option>
                        </select>

                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Location</option>
                            <option value="1">Baku</option>
                            <option value="2">Baku</option>
                            <option value="3">Baku</option>
                        </select>

                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Company</option>
                            <option value="1">company</option>
                            <option value="2">company</option>
                            <option value="3">company</option>
                        </select>

                        <select class="mdb-select md-form">
                            <option value="" disabled selected>Experience level</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>

                        <button class="btn btnExploreSearch"><i class="fas fa-search"></i> Search</button>
                        <a class="btnReset" href="#"><i class="fas fa-redo-alt"></i> Reset filters</a>

                    </div>
                </div>
            </div>

            <div class="exploreResult">
                <div class="jobList">
                    <a class="jobActive" href="#">
                        <div class="jobListItem">
                            <p>Web Developer</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Accout</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Graphic Designer</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Copyrighter</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Web Developer</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Accout</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Graphic Designer</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Copyrighter</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Graphic Designer</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>

                    <a href="#">
                        <div class="jobListItem">
                            <p>Copyrighter</p>
                            <span>Baku</span>
                            <img src="~/Public/img/global/jobArrow.svg" alt="Arrow">
                        </div>
                    </a>
                </div>

                <div class="jobInner">
                    <div class="jobTitle">
                        <div class="companyInfo">
                            <img src="https://via.placeholder.com/80x32?text=Logo" alt="LOGO">
                            <div>
                                <p>IBM International Company</p>
                                <span>We need web developer</span>
                            </div>
                        </div>

                        <a href="#" class="btn btnApply">Apply now</a>
                    </div>

                    <div class="jobBody">
                        <p>The Graphic Designer provides design solutions and coordination of assigned design projects, including concepts and project documentation as required. Design and produce art for merchandise for Disney Theme Parks and Resorts for projects across all lines of business as assigned following through on all creative deliverables.</p>

                        <p>
                            <span>Responsibilities :</span>
                            Responsible for the creative output of assigned projects or programs across all lines of business
                            Participate in the ideation, presentation, and execution of their assignments, following through on all creative deliverables
                            Responsible for the quality, timeliness, and effectiveness of their assignments, working closely with the production team to ensure that final art is completed to manufacturing specifications for packaging
                            Collaborate with the Character Artists and Product Designers to create product designs
                            Partner with the Creative Director and/or the Creative Manager, Merchandising, Planning, and Sourcing teams to define graphics implementation strategy and quality
                            Partner with internal and external clients to ensure that character integrity, brand, and creative standards are met
                            Provide expert input for department staff resources that includes training, development, and evaluation of staff, new hires, and consultants as needed to support projects
                            Prepare final art, ready for vendor production when required
                        </p>

                        <p>
                            <span>Basic Qualifications :</span>
                            A portfolio of professional design work that demonstrates skills and experience in the graphic design field
                            5 years of experience in graphic design
                            Conceptual skills with the ability to create situational compositions, backgrounds, and props
                            Working knowledge of diverse design styles and techniques
                            Good presentation skills

                        </p>

                        <p>
                            <span>Required Education :</span>
                            Bachelor’s Degree or equivalent in Graphic Design
                        </p>

                    </div>

                    <span class="jobDate">3 days ago</span>

                </div>
            </div>
        </div>

        <div class="pagination">
            <div class="pageNumbers">
                <a class="active" href="#">01</a>
                <a href="#">02</a>
                <a href="#">03</a>
                <a href="#">...</a>
                <a href="#">15</a>

                <a class="pageNext" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
            </div>

            <p>1-9</p>
        </div>
    </div>
</div>
<!-- Explore page end -->
