
@{
    ViewBag.Title = "Contact";
}



<!-- contactBody section start -->
<div class="container text-center">
    <h1 class="contactTitle">Get in touch</h1>
    <p class="contactDesc">
        We are eager to discuss your business needs, and answer any questions you may have.
        Enter your details and we’ll get back to you shortly
    </p>

    <div class="contactWrapper">
        <div class="contactForm">
            <p class="formTitle">
                <img src="~/Public/img/global/contactFormIcon.svg" alt="Icon"> Drop us a line
            </p>

            <div class="form-group">
                <input type="text" name="name" id="name" placeholder="Your Name">
                <!-- <label for="name">Your Name</label> -->
            </div>

            <div class="form-group">
                <input type="text" name="email" id="email" placeholder="Your Email">
                <!-- <label for="email">Your Email</label> -->
            </div>

            <div class="form-group">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
                <!-- <label for="message">Your message</label> -->
            </div>

            <button class="btn btn-primary btnSend">Send</button>
        </div>
        <div class="contactInformation">
            <p class="contactInformationTitle">Contact</p>
            <p class="phone">
                +994 12 123 45 67<br>
                +994 12 123 45 67<br>
                info@nextcar.temp
            </p>

            <p class="address">
                232 Nizami district H.Javid 123 <br>
                Baku, Azerbaijan
            </p>

            <div class="socialIcons">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- contactBody section end -->
