
<h1 class="font-weight-light">Blog Details</h1>
<div>
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a href="#">Joobsy</a></li>
        <li class="breadcrumb-item"><a href="#">Candidates</a></li>
        <li class="breadcrumb-item active">Create Resume</li>
    </ol>
</div>
