@model Breadcrumb
<h1 class="font-weight-light">@Model.Title</h1>
<div>
    <ol class="breadcrumb justify-content-center">
        @foreach (var item in Model.Path)
        {
            if (item.Value != null)
            {
                <li class="breadcrumb-item"><a href="@item.Value">@item.Key</a></li>
            }
            else
            {
                <li><span>@item.Key</span></li>
            }
        }
    </ol>
</div>
